<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'HelloWorld' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>0dcee929-f4cb-41fc-9987-ff2d5ca1a79b</InstrumentationKey>
</ApplicationInsights>